<li class="nav-item">
  <a
    class="nav-link active"
    aria-current="page"
    href="Suplementos/criar-suplementos"
    >Adicionar suplementos</a
  >
</li>
<li class="nav-item">
  <a class="nav-link" href="Suplementos/listar-suplementos"
    >Listar Suplementos</a
  >
</li>

A typeahead example that gets values from a static <code>string[]</code>
<ul>
  <li><code>debounceTime</code> operator</li>
  <li>kicks in only if 2+ characters typed</li>
  <li>limits to 10 results</li>
</ul>

<label for="typeahead-basic">Search for a state:</label>

<hr />
<app-form-suplemento></app-form-suplemento>

<hr />

<router-outlet></router-outlet>
