<div class="ng-container "></div>
<form [formGroup]="form">

    <input  placeholder="Nome" formControlName="nome" />



    <input  placeholder="Descrição" formControlName="descricao" />

  <br />

    <input  placeholder="Categoria" formControlName="categoria" />



    <input  placeholder="Preço" formControlName="preco" />


    <input  placeholder="Quantidade" formControlName="quantidade" />


    <input  placeholder="Imagem" formControlName="imageUri" />


  <button mat-flat-button (click)="onSubmit()">
    Cadastrar
  </button>
  <button mat-flat-button (click)="onCancel()">Cancelar</button>
</form>

